:root {
    --accent-color: #3F00FF; /* VIOLET */
    --primary-brand-color: #FFD00E; /* YELLOW */
	--secondary-brand-color: #3BBAFF;  /* SKY BLUE */
	--main-text-color: #333333; /* BLACK */
    --light-text-color: #fff; /* WHITE */
	--icons-color: #323336; /* LIGHT SLATE */

    --button-hover-color: #edde7c00; /* OCEAN */

	--transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding-left: 0;
    list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
    transition: color var(--transition-property),
		background-color var(--transition-property),
		box-shadow var(--transition-property),
		border-color var(--transition-property);
}
body {
    font-family: "FixelText", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}
.btn {
	font-family: inherit;
    font-weight: 700;
	cursor: pointer;
	transition: color var(--transition-property),
		background-color var(--transition-property),
		box-shadow var(--transition-property),
		border-color var(--transition-property);
}
.btn:hover,
.btn:focus {
	font-family: inherit;
	background-color: var(--button-hover-color);
	color: #ffffff;
}
.container {
    margin: 0 auto;
    padding: 0 110px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 57px;
    background-color: var(--light-text-color);
}
.nav {
    display: flex;
    align-items: center;
    gap: 167px;
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: var(--icons-color);
    font-weight: bold;
    transition: color var(--transition-property);
}

a:hover {
    color: rgb(189, 188, 188);
}

.contacts { 
    display: flex;
    align-items: center;
    gap: 40px;
}
.social-media-list {    
    display: flex;
    gap: 12px;
}
.social-item {
}
.contacts-list {
}
.contacts-item {
}
.tel {
    font-family: "FixelText", sans-serif;
    font-weight: 700;
    font-size: 26px;  
    color: var(--main-text-color);     
}
/* HERO SECTION */
.hero {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
    width: 100%;
    background-image: url('../images/hero/hero.png');
    background-size: cover;
    background-position: center;
    border-radius: 40px
}
.hero-content {
    margin:  213px 0 98px 58.5px;
    max-width: 928px;
    font-family: "FixelText", sans-serif;
    font-weight: 700; 
    font-size: 20px;
    color: var(--light-text-color);
}
.hero-content .hero-title {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 900;
    text-shadow: 0 7px 7px rgba(0, 0, 0, 0.397);
}
.hero-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 20px 64px;
    background-color: var(--primary-brand-color);
    color: var(--main-text-color);
    border:var(--primary-brand-color) 4px solid;   
    border-radius: 5px;
}
.btn:hover, .btn:focus {
    background-color: var(--button-hover-color);
    color: var(--light-text-color);
    border:#000000 4px solid;   
}
.hero-dots {
    width: 148px;
    margin-left:  58.5px;
}

/* Пагінація для hero */
.pagination {
    display: flex;
    gap: 17px;
  } 
  .dot {
    margin-top: 98px;
    height: 16px;
    width: 16px;
    background-color: #ffffff00;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 3px solid #fff;
  }
  .dot.active, .dot:hover, .dot:focus {
    background-color:  var(--primary-brand-color);
    border: 3px solid var(--primary-brand-color);
  }

.more-block {
    margin-top: 7px;
    margin-bottom: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-text {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: var(--light-text-color);
    
}
.more-img {
    height: 28px;
    width: 18px;
}

/* STEPS */

.steps {
    color: var(--main-text-color);
}
.steps-container {
    margin-left: 58px;
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
}
.steps-title {
    max-width: 1200px;
    font-size: 90px;
    line-height: 110%;
    margin-bottom: 32px;
    font-weight: 900;
    color: var(--main-text-color);
}

.steps-subtitle{
    display: flex;
    align-items: center;
    text-align: right;
    margin: 63px 0;
    min-width: 603px;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    color: var(--main-text-color);
}
.steps-block{ 
    margin-top: 150px;
    padding: 16px;
    font-family: "FixelText", sans-serif;
    font-weight: 400;
    font-size: 24px;
    max-width: 568px;
    transform: rotate(-15deg);
    background-color: var(--primary-brand-color);
    border: 4px solid var(--light-text-color); 
    border-radius: 40px;   
    box-shadow: 10px 10px 400px 0px rgba(250, 224, 30, 0.748);
}
.steps-subblock{
    position: relative;
    top: -290px;
    left: 25px;
    width: 600px;
    height: 308px;
    background-color: #EBC31D;
    border-radius: 40px; 
    z-index: -1;
    transform: rotate(-15deg);
}
.steps-block img {
    width: 100%;
    height: 56px;
    transform: rotate(15deg);
}
.steps-block-text {
    padding: 0 10px 20px 10px;

}
.steps-img {
    position: absolute;
    top: 100px;
    left: -20px;
    z-index: -1;
}
.steps-block-decor-left {
    position: relative;
    top: -230px;
    left: 40px
}
.steps-block-decor-right {
    position: relative;
    top: -750px;
    left: 470px
}
.steps-left-block-text {
    margin-top: -200px;
    font-weight: 700;
    font-size: 24px;
    max-width: 981px;
}
.steps-right-block-img {
    /* display: flex;
    flex-direction: column; */
    position: relative;
}
.steps-right-block-img .emoji {
    position: absolute;
    top: 367px;
    right: 0;
    
}
.steps-right-block-img .sparcles {
    position: absolute;
    top: 209px;
    left: 40px;
}